.new-plant-form__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .new-plant-form__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-plant-form__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
  }
  
  .new-plant-form__actions {
    text-align: right;
  }

  .new-plant-form__radio {
    font: inherit;
    cursor: pointer;
    margin-right: 1rem;
    margin-left: 1rem;
    text-align: left;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .species-form-button button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #ffffff;
    background-color: rgba(31,31,31);
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .species-form-radio{
    font: inherit;
    cursor: pointer;
    color: white;
    font-size: 1.2rem;
    border-radius: 12px;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }

  
  .species-form-button button:hover,
  .species-form-button button:active {
    background-color: rgba(31,31,31,70);
    border-color: #0a8836;
    color: #0a8836;
  }
  
  .species-form-button button.alternative {
    color: #012519;
    border-color: transparent;
    background-color: transparent;
  }
  
  .species-form-button button.alternative:hover,
  .species-form-button button.alternative:active {
    background-color: #defad7;
  }

  .new-plant-form-filter {
    color: rgb(255, 255, 255);
    padding: 0 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    gap: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .new-plant-form-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .new-plant-form-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .new-plant-form-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
    text-align: left;
  }